APP_NAME="Task API DDD"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=taskapi_ddd
DB_USERNAME=taskapi
DB_PASSWORD=secret
SANCTUM_STATEFUL_DOMAINS=localhost
